<div class="container-fluid mt-5">
  <h1 class="display-5 fw-bold text-center">Qualification</h1>
  <p class="fs-5 text-center">My Journey</p>

  <div class="container my-3 text-center fw-bold"><i class="bi bi-mortarboard-fill"></i> Education</div>

  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 text-center">
      <div class="card">
        <div class="card-body">
          <span class="fw-bold">B.Tech</span>
          <p class="h5">
            Computer Science & Engineering<br />
            IFTM UNIVERSITY<br />
            Start 2020 - Pursuing
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12 text-center">
      <div class="card">
        <div class="card-body">
          <span class="fw-bold">Intermediate school</span>
          <p class="h5">
            Physics Chemistry & Maths<br />
            Parkar Inter college<br />
            Batch - 2019
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 text-center">
      <div class="card">
        <div class="card-body">
          <span class="fw-bold">High school</span>
          <p class="h5">
            Physics Chemistry & Maths<br />
            Shishu Vatika Inter college<br />
            Batch - 2017
          </p>
        </div>
      </div>
    </div>
  </div>
</div>