<section class="container-fluid mt-5" id="about">
    <h1 class="display-5 fw-bold text-center">About Me</h1>
    <p class="fs-5 text-center">My Introduction</p>
    <div class="row justify-content-center align-items-center">
        <div class="col-lg-6 col-md-12 text-center">
            <img src="../assets/second.jpg" alt="" class="img-thumbnail">
        </div>
        <div class="col-lg-4 col-md-8 text-center margin">
            <p class="h3">
                Success-Driven Fresher Web Developer Ready to Excel and Achieve New Heights!
            </p>
            <button class="btn btn-primary my-5" type="button" (click)="downloadPDF()">Download CV <i
                    class="bi bi-download"></i></button>
        </div>
    </div>
</section>