<nav class="navbar navbar-expand-lg navbar-dark p-3 sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand fw-bolder fs-5" href="#">Anirudh Kashyap</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class=" collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link mx-2 fw-bolder fs-5" href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2 fw-bolder fs-5" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2 fw-bolder fs-5" href="#skill">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2 fw-bolder fs-5" href="#project">Project</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2 fw-bolder fs-5" href="#contact">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<app-home></app-home>

<app-about></app-about>

<app-skills></app-skills>

<app-education></app-education>

<br><br>
<hr>
<app-project></app-project>

<app-contact></app-contact>



<footer>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <a href="https://github.com/Anirudh919?tab=repositories"><i class="bi bi-github"></i></a>
        <a href="https://www.linkedin.com/in/anirudhkashyap67/"><i class="bi bi-linkedin"></i></a>
        <a href="https://instagram.com/anirudhkashyap43?igshid=MzNlNGNkZWQ4Mg=="><i class="bi bi-instagram"></i></a>
        <a href="https://www.facebook.com/anirudh.kashyap.31945?mibextid=ZbWKwL"><i class="bi bi-facebook"></i></a>
        <a href="https://wa.me/qr/J3ZQAKRZGLXXD1"><i class="bi bi-whatsapp"></i></a>
        <p class="fw-bold">&copy; 2023 My Website. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>