<div class="conteiner-fluid mt-5">
    <section class="row justify-content-center align-items-center" id="home">
        <div class="col-lg-6 col-md-12 text-center">
            <h1 class="display-5 fw-bold">Hi, I'm Anirudh</h1>
            <p class="h4">FULL STACK DEVELOPER</p>
            <p class="h4">Passionate Fresher Web Developer Eager to Make an Impact! </p>
            <button type="button" class="btn btn-primary my-5"><a href="#contact">Contact me <i
                        class="bi bi-arrow-right-square"></i></a></button>
        </div>
        <div class="col-lg-4 col-md-8 text-center margin">
            <img src="../assets/main.jpeg" class="rounded " alt="This is my photo">
        </div>
    </section>
</div>